#header {
  padding: 25px;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#btn {
  position: absolute;
  left: 45%;
  top: 44%;
  width: 175px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 2px;
  font-size: 2rem;
}

#position-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#position-container label {
  padding: 10px;
  font-size: 1.5rem;
}

#position {
  width: 150px;
  height: 35px;
}
